<a href="https://colab.research.google.com/github/Shubhayang6/T-and-T-LAB/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3.2(WAP to calculate the sum of digits of a given number)

In [9]:
number=input("Enter the value: ")
sum=0
for i in range(len(number)):
  sum+=int(number[i])
print(sum)

Enter the value: 55
10
<class 'str'>

3.3(WAP to reverse a number)

In [17]:
number=input("Enter the value: ")
for i in range(len(number)):
  reverse=number[::-1]
print(reverse)

Enter the value: 67890
09876

3.1(Find factorial of a number)

In [24]:
number=int(input("Enter the value: "))
if number<0:
  print(0)
elif number==0 or number==1:
  print(1)
else:
  fact=1
  while(number>1):
    fact*=number
    number-=1
print(fact)

Enter the value: 4
24

3.4(HCF of number)

In [25]:
x=int(input("Enter the value of x: "))
y=int(input("Enter the value of y: "))
if x>y:
  smaller=y
else:
  smaller=x
for i in range(1,smaller+1):
  if((x%i==0) and (y%i==0)):
    hcf=i
print(hcf)

Enter the value of x: 5
Enter the value of y: 10
5

3.15(Print following pattern)

In [33]:
def pattern(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print("* ",end=" ")
    print("\r")
n=5
pattern(n)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *